################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlackHole/.vs
/BlackHole/bin/Debug
/BlackHole/obj
/BlackHole/bin/Release/net471
